@model SheffieldWebApp.Models.Grade

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="card shadow mt-4">
    <div class="card-header">
        <h5>Grade details</h5>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="GradeName" class="control-label"></label>
                <input asp-for="GradeName" class="form-control" />
                <span asp-validation-for="GradeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (User.IsInRole("Admin"))
                {
                    <label asp-for="SubjectName" class="control-label"></label>
                    <input asp-for="SubjectName" class="form-control" />
                    <span asp-validation-for="SubjectName" class="text-danger"></span>
                }
                else
                {
                    <input type="hidden" asp-for="SubjectName" class="form-control" value="@ViewData["SubjectName"]" />
                    <span asp-validation-for="SubjectName" class="text-danger"></span>
                }
            </div>
            <div class="form-group">
                <label asp-for="GivenMarks" class="control-label"></label>
                <input asp-for="GivenMarks" class="form-control" />
                <span asp-validation-for="GivenMarks" class="text-danger"></span>
            </div>
            <div class="form-group text-center mt-3">
                <input type="submit" value="Create" class="btn btn-primary col-7" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    @if(User.IsInRole("Admin")){
        <a class="btn btn-secondary" asp-controller="Admin" asp-action="Index">Back to List</a>

    }else{
        <a class="btn btn-secondary" asp-controller="TeachersDashboard" asp-action="Index">Back to List</a>

    }
</div>

